$numCols: {{ numCols }};
$base-font-serif-family: {{ baseFontSerif }}; // the single font-family as opposed to the full stack
$base-font-sans-family: {{ baseFontSans }}; // the single font-family as opposed to the full stack
